  <section>
    <div class="container mt-2">
      <div class="row">
        {{#each products  }}
        <div class="col-md-3 mt-2 pb-2">
          <div class="card" style="width: 15rem;height: 25rem;">
            <img src="{{this.image}}" class="card-img-top" style="height: 65%;" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <h6 class="card-title">{{this.price}}</h6>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
        
    </div>
  </section>
