  <section>
    <div class="container mt-2">
        {{#each products  }}
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img src="{{this.image}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <h6 class="card-title">{{this.price}}</h6>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      
        {{/each}}
        
    </div>
  </section>
